.add-card__characteristics {
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
  }

  dt,
  dd {
    line-height: 14px;
    margin: 0;

    @media (min-width: @tablet-width) {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.add-card__title {
  font-size: 16px;
  color: @blackish-brown-color;
  text-transform: uppercase;
  padding-bottom: 13px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
  }
}

.add-card {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 315px 240px 95px 245px;
  }
}

.add-card__button {
  grid-column: 1 / -1;
  max-width: 632px;

  @media (min-width: @desktop-width) {
    grid-column: 4 / 5;
    max-width: 244px;
  }
}
