.advantages__link {
  color: @black-color;
  display: flex;
  align-items: center;
}

.advantages__catalog {
  font-family: @add-font;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  padding-right: 16px;

  @media (min-width: @tablet-width) {
    padding-left: 0;
    font-size: 20px;
    line-height: 30px;
    padding-right: 25px;
  }
}

.advantages__item-title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding: 9px 0 29px 70px;
  position: relative;

  &--weight {
    padding: 6px 0 29px 72px;
  }

  &::before {
    content: "";
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 0;
  }

  &--slim::before {
    background-image: url("../img/slim-icon.svg");
    width: 50px;
    height: 53px;
    left: 0;
    background-size: cover;

    @media (min-width: @tablet-width) {
      width: 200px;
      height: 211px;
      left: 65%;
    }

    @media (min-width: @desktop-width) {
      width: 100px;
      height: 106px;
      left: 0;
      top: 0;
    }
  }

  &--weight::before {
    background-image: url("../img/weight-icon.svg");
    width: 67px;
    height: 50px;
    left: -7px;
    background-size: cover;

    @media (min-width: @tablet-width) {
      width: 268px;
      height: 200px;
      left: 62%;
    }

    @media (min-width: @desktop-width) {
      width: 134px;
      height: 100px;
      left: -19px;
      top: -6px;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 0 0 24px 0;
    font-size: 36px;
    line-height: 1;
  }

  @media (min-width: @desktop-width) {
    padding: 36px 0 73px 162px;
  }
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  row-gap: 20px;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.advantages__description {
  margin: 0;
  padding-bottom: 42px;
  position: relative;

  @media (min-width: @tablet-width) {
    color: @black-color;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 48px;
    padding-left: 0;
    max-width: 340px;
  }

  @media (min-width: (@tablet-width + 1px)) {
    max-width: 60%;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 23px;
    max-width: 100%;
  }

  @media (max-width: (@tablet-width - 1px)) {
    &::after {
      content: "";
      position: absolute;
      background-color: @line-gray;
      height: 1px;
      width: 100%;
      bottom: 19px;
      left: 0;
    }
  }
}

.advantages__item {
  background-color: @gray;
  padding: 21px 20px 22px;
  position: relative;

  &--weight {
    padding: 24px 20px 22px;
  }

  @media (min-width: @tablet-width) {
    padding: 77px 63px 53px 52px;
  }

  @media (min-width: @desktop-width) {
    padding: 41px 61px 55px 52px;
  }
}

.advantages__icon {
  position: absolute;

  &--slim {
    top: 21px;
    left: 20px;
  }

  &--weight {
    top: 24px;
    left: 13px;
  }
}
