.card {
  &__title {
    font-size: 16px;
    line-height: 20px;
    color: @blackish-brown-color;

    &--show {
      color: @almost-black-color;
    }
  }

  &__characteristics {
    dt,
    dd {
      font-size: 12px;
      line-height: 18px;
    }
  }

  &__tastes {
    font-size: 12px;
    line-height: 16px;
  }

  &__show-all {
    color: @primary-color;
  }
}
