.card__title {
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
  color: #222222;
}

.card__characteristics dt,
.card__characteristics dd {
  font-size: 12px;
  line-height: 18px;
}

.card__title--show {
  color: #111111;
}

.card__tastes {
  font-size: 12px;
  line-height: 16px;
}

.card__show-all {
  color: #444444;
}
