.card__title {
  font-size: 16px;
  line-height: 20px;
  color: @blackish-brown-color;

  &--show {
    color: @almost-black-color;
  }
}

.card__characteristics {
  dt,
  dd {
    font-size: 12px;
    line-height: 18px;
  }
}

.card__tastes {
  font-size: 12px;
  line-height: 16px;
}

.card__show-all {
  color: @primary-color;
}
