.container-case {
  background-color: @bg-gray;
  position: relative;
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    background-color: @white-color;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
  }
}

.case__numbers {
  font-family: @add-font;
  font-size: 24px;
  line-height: 1;
  color: @black-color;
  padding-top: 14px;
  padding-bottom: 8px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;

    &--kg {
      padding: 15px 57px 11px 57px;
    }

    &--days {
      padding: 15px 30px 20px 30px;
    }
  }
}

.case__meaning {
  font-size: 12px;
  line-height: 1;
  margin: 0;
  position: absolute;
  background-color: @bg-gray;
  left: 22px;
  max-width: 80px;
  top: 41px;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    background-color: @white-color;
    max-width: 150px;
    top: 64px;
    left: 25px;
    padding-left: 8px;
    padding-right: 8px;

    &--time {
      left: 10px;
    }
  }

  @media (min-width: @desktop-width) {
    background-color: @bg-gray;
  }
}

.case__costs-wrapper {
  font-family: @add-font;
  font-size: 14px;
  line-height: 20px;
  color: @black-color;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) and (max-width: (@desktop-width - 1px)) {
    font-size: 20px;
    line-height: 1;
    max-width: 174px;
    display: grid;
    grid-template-rows: min-content;
    row-gap: 9px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
    max-width: 327px;
    padding-bottom: 75px;
  }
}

.case__costs-meaning {
  margin: 0;
}

.case__title {
  padding-top: 25px;
  padding-bottom: 40px;
  font-size: 36px;
  line-height: 1;

  @media (min-width: @tablet-width) {
    padding-top: 45px;
    padding-bottom: 60px;
    font-size: 60px;
    line-height: 1;
  }

  @media (min-width: @desktop-width) {
    padding-top: 69px;
    padding-bottom: 146px;
  }
}

.case__description {
  margin: 0;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    grid-row: 2 / 3;
    z-index: 1;
  }
}

.case__list {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  text-align: center;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 55px;
    margin-bottom: 0;
    max-width: 366px;
  }
}

.case__container {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 99px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    grid-row: 3 / 4;
    min-height: 152px;
  }
}

.case__item {
  border: 1px solid @border-color;
  border-radius: 3px;
  position: relative;
  max-width: 124px;
  max-height: 56px;

  @media (min-width: @tablet-width) {
    max-width: 165px;
    max-height: 77px;
  }
}

.case__img-wrapper {
  display: flex;
  justify-content: center;

  &--before {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

  &--after {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 4px;
      height: 256px;
      background-color: @icon-gray;
      border-radius: 2px;
      top: 0;
      left: 50%;

      @media (min-width: @tablet-width) {
        height: 512px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      background-color: @white-color;
      border-radius: 50%;
      border: 2px solid @icon-gray;
      top: 108px;
      z-index: 1;

      @media (min-width: @tablet-width) {
        top: 236px;
      }
    }
  }
}

.case__imgs-wrapper {
  display: grid;
}

.case__before {
  clip-path: inset(0 50% 0 0);
}

.case__after {
  clip-path: inset(0 0 0 50%);
}

.case {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, min-content);
    column-gap: 224px;
  }
}

.case__slider-wrapper {
  @media (min-width: @desktop-width) {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
  }
}

