.container-case {
  background-color: @bg-gray;
}

.case__numbers {
  font-family: @add-font;
  font-size: 24px;
  line-height: 1;
  color: @black-color;
  padding-top: 14px;
  padding-bottom: 8px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
    padding-bottom: 11px;
  }
}

.case__meaning {
  font-size: 12px;
  line-height: 1;
  margin: 0;
  position: absolute;
  background-color: @bg-gray;
  left: 22px;
  max-width: 80px;
  top: 41px;

  @media (min-width: @tablet-width) {
    font-size: 14px;
  }
}

.case__costs-wrapper {
  font-family: @add-font;
  font-size: 14px;
  line-height: 20px;
  color: @black-color;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
  }
}

.case__costs-meaning {
  margin: 0;
}

.case__title {
  padding-top: 25px;
  padding-bottom: 40px;
  font-size: 36px;
  line-height: 1;

  @media (min-width: @tablet-width) {
    padding-top: 45px;
    padding-bottom: 60px;
    font-size: 60px;
    line-height: 1;
  }

  @media (min-width: @desktop-width) {
    padding-top: 69px;
    padding-bottom: 76px;
  }
}

.case__description {
  margin: 0;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 55px;
  }
}

.case__list {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  text-align: center;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    padding-bottom: 99px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 55px;
  }
}

.case__container {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
  }
}

.case__item {
  border: 1px solid @border-color;
  border-radius: 3px;
  position: relative;
}

.case__slider-wrapper {
  position: relative;
}

.case__after {
  position: absolute;
  top: 0;
  left: 0;
}
