.case {
  &__numbers {
    font-family: @add-font;
    font-size: 24px;
    line-height: 24px;
    color: @black-color;
  }

  &__meaning {
    font-size: 12px;
    line-height: 100%;
  }

  &__costs {
    font-family: @add-font;
    font-size: 14px;
    line-height: 20px;
    color: @black-color;
  }
}
