.gift {
  background-color: fade(@basic-green, 85%);
  max-height: 290px;

  @media (min-width: @tablet-width) {
    max-height: 200px;
  }

  @media (min-width: @desktop-width) {
    max-width: 245px;
  }

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  padding-bottom: 35px;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    position: absolute;
    top: 193px;
    right: 110px;
    max-height: 288px;
    padding: 0;
  }
}

.gift__thesis {
  font-size: 16px;
  line-height: 20px;
  color: @white-color;
  margin: 0;
  max-width: 161px;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  z-index: 2;
  margin-top: 48px;
  text-align: center;

  @media (min-width: @tablet-width) {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    z-index: 2;
    margin: -8px 0 0 -60px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    z-index: 2;
    text-align: center;
    margin: -5px 0 0;
  }
}

.gift__icon {
  color: @white-color;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  z-index: 2;
  margin-top: 59px;

  @media (min-width: @tablet-width) {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    z-index: 2;
    margin: -14px 0 0 -119px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    z-index: 2;
    margin: 0 0 -52px;
  }
}


.gift__pic {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: 1;
}
