.instruction__title {
  font-size: 36px;
  line-height: 40px;
  padding-top: 20px;
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    padding-top: 45px;
    padding-bottom: 32px;
    font-size: 60px;
    line-height: 1;
  }

  @media (min-width: @desktop-width) {
    padding-top: 71px;
  }
}

.instruction__list {
  padding-bottom: 49px;
  padding-left: 0;
  list-style-type: none;
  margin: 0;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr;
  row-gap: 20px;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 37px;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 47px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 0;
  }
}

.instruction__item {
  max-width: 250px;
  padding-left: 80px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding-left: 0;
  }
}
