.instruction__title {
  font-size: 36px;
  line-height: 40px;
  padding-top: 20px;
  padding-bottom: 42px;

  @media (min-width: @tablet-width) {
    padding-top: 45px;
    padding-bottom: 32px;
    font-size: 60px;
    line-height: 1;
  }

  @media (min-width: @desktop-width) {
    padding-top: 71px;
  }
}

.instruction__list {
  padding-bottom: 49px;
  padding-left: 0;
  list-style-type: none;
  margin: 0;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr;
  row-gap: 20px;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 37px;
    column-gap: 153px;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 47px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 0;
  }
}

.instruction__item {
  padding-left: 80px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-color: @basic-green;
    width: 60px;
    height: 60px;
    left: 0;
    top: -2px;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: @tablet-width) {
      top: 40px;
    }
  }

  &--useful::before {
    background-image: url("/img/useful-icon.svg");
  }

  &--powder::before {
    background-image: url("/img/powder-icon.svg");
  }

  &--eat::before {
    background-image: url("/img/eat-icon.svg");
  }

  &--result::before {
    background-image: url("/img/result-icon.svg");
  }

  @media (min-width: @tablet-width) {
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr 1.8fr;
    grid-template-rows: 1fr 1fr;
  }
}

.instruction__counter {
  @media (width: calc(@tablet-width - 1px)) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: block;
    font-family: @add-font;
    font-size: 280px;
    font-weight: 400;
    line-height: 1;
    color: @gray;
    grid-column: 2 / -1;
    grid-row: 1 / -1;
  }
}

.instruction__thesis {
  @media (min-width: @tablet-width) {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
  }
}

.container__instruction {
  @media (min-width: @tablet-width) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      background-color: @mercury-gray-color;
      width: 100%;
      left: 0;
      bottom: 0;
      display: block;
    }
  }
}
