.map {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: @tablet-width) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.map__invitation {
  font-family: @add-font;
  font-size: 16px;
  line-height: 20px;
  color: @almost-black-color;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.map__address-container {
  line-height: 20px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.map__address {
  font-style: normal;
}
