.map__wrapper-text {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;

  &--bg {
    @media (max-width: (@desktop-width - 1px)) {
      background-color: @gray;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 60px 70px;
  }

  @media (min-width: @desktop-width) {
    padding: 60px 79px;
    background-color: @white-color;
    position: absolute;
    top: 95px;
    left: 110px;
    min-width: 565px;
  }
}

.map__invitation {
  font-family: @add-font;
  font-size: 16px;
  line-height: 20px;
  color: @almost-black-color;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.map__address-container {
  line-height: 20px;

  &--form {
    font-family: @main-font;
    font-size: 14px;
  }

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
  }
}

.map__address {
  font-style: normal;
}

.map__location {
  margin-left: -20px;

  @media (min-width: @tablet-width) {
    margin-left: -30px;
  }

  @media (min-width: @desktop-width) {
    margin-left: -110px;
  }
}

.map {
  position: relative;
  min-height: 474px;
  width: 100%;

  @media (min-width: @tablet-width) {
    min-height: 598px;
  }

  @media (min-width: @desktop-width) {
    min-height: 400px;
  }

  iframe {
    position: absolute;
    display: block;
    width: 100%;
    z-index: -1;
    height: 362px;
    right: 0;

    @media (min-width: @tablet-width) {
      height: 400px;
    }
  }
}

.map__static {
  position: absolute;
  z-index: -2;
  width: 100%;
  object-fit: cover;

  @media (min-width: @tablet-width) {
    height: 400px;
  }
}
