.map__wrapper-text {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: @tablet-width) {
    padding: 60px 40px;
  }

  @media (min-width: @desktop-width) {
    padding: 60px 79px;
    background-color: @white-color;
    position: absolute;
    top: 95px;
    left: 0;
    min-width: 565px;
  }
}

.map__invitation {
  font-family: @add-font;
  font-size: 16px;
  line-height: 20px;
  color: @almost-black-color;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.map__address-container {
  line-height: 20px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.map__address {
  font-style: normal;
}

.map__location {
  margin-left: -20px;

  @media (min-width: @tablet-width) {
    margin-left: -30px;
  }

  @media (min-width: @desktop-width) {
    margin-left: -110px;
  }
}

.map {
  img {
    display: block;
    object-fit: cover;
    width: calc(100% + 40px);

    @media (min-width: @tablet-width) {
      width: calc(100% + 60px);
    }

    @media (min-width: @desktop-width) {
      width: calc(100% + 220px);
    }
  }

  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.container-map {
  background-color: @gray;
}
