.product-cards__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-rows: auto;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 63px;
    column-gap: 80px;
  }
}

.product-cards__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, min-content);
  padding-top: 20px;
  padding-bottom: 25px;
  position: relative;

  @media (max-width: calc(@tablet-width - 1px)) {
    &::after {
      content: "";
      position: absolute;
      width: calc(100vw - 17px);
      height: 1px;
      margin-left: -20px;
      background-color: @line-card-color;
      bottom: 0;
    }
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    padding: 29px 37px 40px 37px;
    max-width: 324px;
    min-height: 430px;
    background-color: @gray;
  }

  @media (min-width: @desktop-width) {
    max-width: 245px;
    padding: 0 38px 40px 38px;
  }

  &--show {
    padding-top: 25px;
    padding-bottom: 24px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    justify-items: center;

    @media (min-width: @tablet-width) {
      background-color: @white-color;
      border: 1px solid @gray;
    }
  }
}
