.slider {
  position: relative;
}

.slider__base {
  display: flex;
  top: 0;
  left: 0;
  position: absolute;
  height: 256px;
  width: auto;
  color: @icon-gray;

  @media (min-width: @tablet-width) {
    height: 512px;
  }
}

.slider__base-rect-icon {
  @media (min-width: @tablet-width) {
    height: 512px;
    width: 4px;
  }
}

.slider__toggle {
  padding: 0;
  border: none;
  cursor: pointer;

  &--less,
  &--more {
    color: @icon-gray;
    position: absolute;
    background-color: transparent;
  }

  &--less {
    z-index: 1;
    top: 119px;
    left: 129px;
  }

  &--more {
    z-index: 1;
    top: 119px;
    left: 145px;
  }
}
