.title {
  font-family: @add-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: @white;
}

.title--h2 {
  line-height: 40px;
  color: @black-color;
}

.title--h3 {
  font-size: 24px;
  line-height: 37px;
  color: @black-color;
}

.title--catalog {
  color: @black-color;
}

.title--add-goods {
  font-size: 24px;
  line-height: 24px;
  color: @black-color;
}

.title--add-card {
  font-size: 16px;
  line-height: 16px;
  color: @blackish-brown-color;
}

.title--form {
  color: @black-color;
}
