// Брейкпоинты
@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1440px;

// Шрифты
@main-font: "Lato", "Arial", sans-serif;
@add-font: "Oswald", "Arial", sans-serif;

// Цвета текстов
@primary-color: #444444;
@white-color: #ffffff;
@black-color: #000000;
@blackish-brown-color: #222222;
@almost-black-color: #111111;

// Корпоративные цвета
@bg-color: rgba(104, 183, 56, 0.52);
@basic-green: rgb(104, 183, 56);
@gray: #f2f2f2;
