.main-nav {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-nav__toggle {
  background-color: @white-color;
  color: @black-color;
}

@media (min-width: @tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav--nojs .site-list {
  position: static;
}

.main-nav--nojs .site-list__item {
  display: block;
}

.main-nav__menu {
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    align-items: start;
  }
}
