.main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 14px;

  @media (min-width: @tablet-width) {
    padding-top: 25px;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding-top: 55px;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}
