.site-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: @add-font;
  font-size: 20px;
  line-height: 1;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }

  a {
    color: @black-color;

    @media (min-width: @desktop-width) {
      color: @white-color;
    }
  }
}

